html,
body {
  height: 100%;
}

body {
  background-color: rgb(40, 40, 40);
  color: rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
  font-size: 20px;
}

select {
  background-color: black;
  color: rgb(201, 201, 201);
  margin-right: 10px;
  font-size: 18px;
}

button {
  background-color: rgb(112, 112, 112);
  color: rgb(201, 201, 201);
  font-size: 20px;
  font-weight: bold;
}
