body {
  background-color: rgb(40, 40, 40);
  color: rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionBoxItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
